ol.tribe-list-widget {
  margin-top: 25px;
}
.calendar-area {
  h4.tribe-event-title {
    margin-bottom: 10px;

  }
  li.tribe-events-list-widget-events {
    height: 80px;
    margin-buttom: 10px;
  }
}

