/***************************************************************************/
/******************************* VARIABLES *********************************/
/***************************************************************************/

$black: #262626;
$blue: #12aaeb;
$grey: #d4dbe3;
$lightGrey: #f1f5f8;
$matteBlue: #597a96;

/***************************************************************************/
/*************************** EXTEND/INHERITANCE ****************************/
/***************************************************************************/



/***************************************************************************/
/******************************** MIXINS ***********************************/
/***************************************************************************/

@mixin transition-normal($seconds) {
  -o-transition: all $seconds ease-in-out;
  -webkit-transition: all $seconds ease-in-out;
  -moz-transition: all $seconds ease-in-out;
  transition: all $seconds ease-in-out;
}
